/* Core style */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-decoration: none;
  line-height: 1.2;
}
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
textarea:focus,
select:focus {
  outline: none;
  -webkit-appearance: none;
  box-shadow: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}
input:focus {
  outline: none;
}
a,
span {
  display: inline-block;
}
a:active,
a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}
ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}
body {
  font-family: 'Involve', sans-serif;
  font-weight: 500;
  color: #28282a;
  font-size: 16px;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1228px;
  margin: 0 auto;
}

.title-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 100%;
  color: #28282a;
  span {
    font-weight: 500;
    font-style: italic;
    color: #a0a0a0;
  }
  &.smaill-title {
    font-size: 25px;
  }
}
.show-more__link {
  font-weight: 700;
  line-height: 100%;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;
  color: #b61255;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #f0f0f0; // светло-серый фон
  padding: 10px 16px; // отступы сверху/снизу и по бокам
  border-radius: 100px; // скругление углов
}

.info-box {
  background: #f7f7f7;
  border-radius: 100px;
  padding: 10px 15px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  color: #656565;
  width: fit-content;
}
.discount-box {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  height: 30px;
  border-radius: 100px;
  background: #b61255;
  font-weight: 600;
  font-size: 15px;
  line-height: 100%;
  color: #fff;
  width: fit-content;
  span {
    padding-top: 2px;
  }
}

.swiper-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff33;
  backdrop-filter: blur(100px);
  z-index: 2;
  &.prev-btn {
    left: 20px;
  }
  &.next-btn {
    right: 20px;
  }
  &.white {
    background: #f7f7f7;

    &.prev-btn {
      left: 0;
    }
    &.next-btn {
      right: 0;
    }
  }
}

section {
  margin-bottom: 100px;
}

.swiper-pagination-bullet {
  width: 5px;
  height: 5px;
  background: #a0a0a0;
  opacity: 1;
  margin: 0 2px !important;
}

.swiper-pagination-bullet-active {
  background: #b61255;
}

.breadcrumb {
  display: flex;
  justify-content: center;
  margin: 20px 0 40px 0;
  gap: 5px;
  a {
    font-size: 15px;
    line-height: 100%;
    color: #656565;
    &.disabled {
      color: #d3d3d3;
    }
  }
}

.pagination {
  display: flex;
  gap: 4px;
  justify-content: center;
  button {
    &.disabled {
      path {
        stroke: #bdbdbd;
      }
    }
  }
  button,
  &-number {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  &-number {
    font-size: 15px;
    line-height: 100%;
    color: #b61255;
    transition: all 0.2s linear;
    cursor: pointer;
    &.active,
    &:hover {
      background: #f7f7f7;
    }
  }
}
.title-box__right {
  display: flex;
  align-items: center;
  gap: 20px;
}
