.intro {
  margin: 50px 0 51px 0;
  overflow: hidden;
  color: #ffff;
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin-inline: 5px !important;
  }
  .swiper-slide {
    padding: 35px 102px 45px 102px;
    background: #000;
    height: 333px;
    justify-content: start;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    overflow: hidden;
  }
  .media-block {
    display: none;
  }
  .slide-three {
    justify-content: center;
    gap: 31px;
    .white-btn {
      font-weight: 600;
      font-size: 16px;
      line-height: 100%;
      color: #28282a;
      background-color: #fff;
      border-radius: 100px;
      max-width: 285px;
      height: 49px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
  }
  &-title {
    font-weight: 700;
    font-size: 40px;
  }
  &-discount {
    margin: 19px 0 19px 0;
    font-weight: 700;
    font-size: 100px;
  }
  &-info {
    font-weight: 600;
    font-size: 20px;
    color: #f7f7f7;
  }
  .intro-desc__title {
    color: #fff;
    max-width: 609px;
    font-weight: 700;
    font-size: 45px;
  }
  .white-slide {
    display: flex;
    justify-content: center;
    .intro-title {
      color: #28282a;
    }
    .intro-desc__title{
      margin-bottom: 19px;
    }
    .intro-discount {
      color: #28282a;
    }
    .intro-desc__title {
      font-weight: 700;
      font-size: 45px;
      line-height: 100%;
      color: #28282a;
    }
    .intro-info {
      color: #a0a0a0;
    }
  }
  .banner-container {
    display: flex;
    align-items: stretch;
    gap: 30px;
  }
  .sm-banners {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .sm-banner {
    width: 389px;
    position: relative;
    border-radius: 30px;
    padding: 34px 30px;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .intro-bg {
      width: 100%;
      height: 100%;
      object-position: 83%;
    }
    .intro-desc__title {
      font-weight: 700;
      font-size: 20px;
      width: 280px;
    }

    .intro-info {
      font-weight: 600;
      font-size: 15px;
      margin-top: 10px;
      line-height: 100%;
    }
  }
  .bottom-banner {
    .intro-desc__title {
      margin-bottom: 15px;
    }
    .white-btn {
      width: 150px;
      height: 30px;
    }
  }
}

// new-arrivals
.new-arrivals {
  .swiper-btn {
    display: none;
  }
}
.special-prices-swiper2 {
  margin-top: 50px;
}
// new-arrivals

.selected-brands {
  margin: 100px 0;
  .swiper-pagination {
    display: none;
  }
  &__swiper {
    //max-width: 1110px;
  }
  &__slider {
    position: relative;
    text-align: center;
  }
  .brand-img {
    max-width: 150px;
  }
}

// contact
.contact {
  &-boxes {
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }
  &-box {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-inline: 66px;
    border-right: 1px solid #d3d3d3;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
      border: none;
    }
    &__title {
      font-weight: 600;
      font-size: 18px;
      line-height: 100%;
      max-width: 181px;
    }
  }
  &-faq {
    display: flex;
    align-items: start;
    gap: 30px;
    margin: 60px 0 50px 0;
  }
  .accordions,
  .contact-map {
    width: 50%;
  }
  .contact-map {
    border-radius: 40px;
    height: 545px;
    iframe {
      border-radius: inherit;
      height: 100%;
      width: 100%;
    }
  }
  &-desc {
    font-weight: 500;
    line-height: 100%;
    color: #656565;
    max-width: 1018px;
  }
}
// contact
