.news-page {
  .header-nav__link {
    background: transparent;
    //border: 1px solid #f2f2f2;
  }
  .header-nav__discount{
    background: #B61255;
    color: #fff;
  }
}
.header-nav__discount.active {
  background-color: #B61255;
  color: #fff;
  svg path {
    fill: #fff;
  }
}
.wine-beginners {
  margin-top: 40px;
  .select-wine {
    display: flex;
    max-width: 895px;
    margin: 0 auto 40px auto;
    gap: 12px;
    justify-content: center;
    flex-wrap: wrap;
    &__box {
      padding: 10px 18px;
      border-radius: 100px;
      font-weight: 500;
      font-size: 15px;
      line-height: 100%;
      border: 1px solid transparent;
      background: #f7f7f7;
      cursor: pointer;
      &.active {
        background: transparent;
        border-color: #b61255;
        color: #b61255;
      }
    }
  }
  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 100%;
    text-align: center;
    margin-bottom: 28px;
  }
  &__cards {
    display: flex;
    flex-direction: column;
    gap: 80px;
    .show-more__btn {
      margin: 20px auto 0 auto;
    }
  }
}
