.top-bar {
  background: #28282a;
  padding-block: 11px;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
  }
  &__box {
    display: flex;
    align-items: center;
    gap: 39px;
  }
  &__link {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #d3d3d3;
    font-weight: 600;
    font-size: 15px;
    line-height: 100%;
  }
}
